{
    "bootstrap_expect": {{ groups['masters'] | length }},
    "server": true,
    "datacenter": "{{ datacenter }}",
    "data_dir": "/var/consul",
    "encrypt": "{{ consul_key }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "retry_join": {{ groups['masters'] | to_json }}
}