region = "{{ region }}"
datacenter = "{{ datacenter }}"
data_dir = "/var/nomad"

client {
  enabled = true
  no_host_uuid = false

  options {
    docker.privileged.enabled = "true"
  }

  meta {
    "host" = "{{ inventory_hostname }}"
    "groups" = "{{ group_names | join(',') }}"
  }
}
